.container {
  max-width: 960px;
}

.site-header {
  background-color: rgba(134, 134, 134, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  color: black;
  
}

.site-header a {
  color: black ;
  transition: color .15s ease-in-out ;
  text-decoration: none ;
}

.site-header a:hover {
  color: #fff ;
  text-decoration: none ;
}

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

.flex-equal>* {
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal>* {
    flex: 1;
  }
}

.fs-30{
  font-size: 30px;
}
.fs-16{
  font-size: 16px;
}
.fs-20{
  font-size: 20px;
}
input[type=search]{
  margin-top: 50px;
  width: 180px;
  margin:0px;
  height:35px;
  display: inline;
}
.fs-18{
  font-size: 18px;
  margin-left: 9px;
}